.InfoPanel {
    background-color: #FFFFFF;
    text-align: left;
    padding: 0.5rem 0.8rem;
    margin: None;
}

.panel-title {
    font-size: 20px;
    font-weight: 500;
}

.panel-address {
    font-size: 13px;
    font-style: italic;
}

.restrooms {
    font-size: 13px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.distance-button {
    height: 45px;
    width: 200px;
    background-color: #FFE6EE;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    margin: 10px;
}
.out-tampon-button {
    height: 30px;
    width: 150px;
    background-color: #FFE6EE;
    border-radius: 9px;
    font-size: 12px;
    border: none;
    margin: 4px;
    
    justify-content: left;
}
.out-pad-button {
    height: 30px;
    width: 150px;
    background-color: #FFE6EE;
    border-radius: 9px;
    font-size: 12px;
    border: none;
    margin: 4px;
    justify-content: right;

}

.grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.popup-container-element {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
.top-left {
    display: flex;
    justify-content: left;
}

.top-right {
    display: flex;
    justify-content: right;
}

.button-right {
    display: flex;
    justify-content: right;
}