.wide-button {
    padding: 10px 20px;
    width: 500px;
    height: 30px;
    
}
.wide-button:hover {
    background-color:rgb(94, 172, 250)
}

.button-list{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* doesn't work for some reason */
/* style={{overflow: 'scroll', height: '100px', width: '500px', display: 'flex', flexDirection: 'column'}} */